---
---
<a href="/privacy/" class="privacy-link">Privacy Policy</a>

<style>
  .privacy-link {
    color: inherit;
    text-decoration: underline;
    opacity: 0.75;
    font-size: 0.875rem;
  }

  .privacy-link:hover {
    opacity: 1;
  }
</style>
