---
---
<a
  href="#main-content"
  class="skip-nav"
>
  Skip to main content
</a>

<style>
  .skip-nav {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 0.5rem 1rem;
    background: var(--radar-teal);
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    z-index: 9999;
    transition: top 0.1s;
  }

  .skip-nav:focus {
    top: 0;
  }
</style>
